@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("Inter.ttf") format("ttf");
}
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"),
    url("Comfortaa.ttf") format("ttf");
    font-display: swap;
}