@import '/styles/desktop/style.css';
@import '/styles/mobile/styles.css'(max-width:1000px);

.hide{
    /* display: none; */
    top:-100vh

}

html{
    font-weight: 700;
}

*{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
}

section > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    padding: 0;
}

.button{
    padding: 23px 26px;
    background-color: #BBFF2C;
    border-radius: 100px;
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    font-family: 'Inter';
    font-size: 20px;
    box-shadow: 5px 5px 0 black;
}

.button > a{
    text-decoration: none;
    color:black;
}