@import 'header.css';
@import 'main.css';
@import 'about.css';
@import 'skills.css';
@import 'works.css';
@import 'comments.css';
@import 'footer.css';
@import 'normalize.css';
@import 'animation.css';



.hide{
    display: none;
}

section{
    height: 100vh;
}

section > div{
    display: flex;
    align-items: center;
    height: 100%;
}