.comments-title{
    font-size: 30px;
    padding-bottom: 35px;
}

.comments-content{
    flex-direction: column;
    gap:10px
}

.comment-header{
    padding: 10px;
}

.comment-main{
    padding-left: 10px;
}

.comment-title{
    font-size: 14px;
    line-height: 15px;
}

.comment-par{
    font-size: 14px;
}

.comment-in{
    font-size: 14px;
    padding: 10px;
    background-image: none;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
}