@import 'header.css';
@import 'main.css';
@import 'about.css';
@import 'skills.css';
@import 'works.css';
@import 'comments.css';
@import 'footer.css';

section{
    height: auto;
    min-height: 100vh;
}

.buttons,.buttons::after,.buttons::before{
    height: 10px;
    width: 10px;
}

.buttons{
    margin: 0 12px;
}

.buttons::before{
    left:-14px;
}

.buttons::after{
    right: -14px;
}

.menu-open{
    overflow: hidden;
}

.hide{
    transform: translateY(-100%);
}