@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("/fonts/Inter.ttf") format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"),
    url("/fonts/Comfortaa.ttf") format("truetype");
}