#main{
    background-image: url(/images/bgMAIN.png);
}






.main-block{
    flex-direction: column;
    display: flex;
    height: 100vh;
}

/* [class$='-block']{
    color: red;
} */

.main-content{
    width: 850px;
    height: 225px;
    background-image: url(/images/form1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding: 60px 40px 40px;
    z-index: 1;
}

.main-title{
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Inter';
    color: #2B2D35;
    padding: 0px;
    margin: 0px;
}

.main-subtitle{
    text-transform: lowercase;
    font-family: 'Comfortaa';
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}



.moving-planet{
    position: absolute;
    bottom: 40px;
    left:21px;
    z-index: 0;
    animation-name: planet-moving;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-timing-function: linear;
}
.saturn{
    position: absolute;
    top: 150px;
    right: 30px;
    z-index: 0;
    animation: saturn-rotation 0.5s infinite linear;
    animation-direction: alternate;
}

.maskot{
    animation: maskot 1s linear;
}